require('./../utils/starter.spec.js').runTests({
    description: 'In reference alternative tables, ',
    testCases: [
        "/print_utils/tests/01.print_utils.js"
    ],
    schemaConfigurations: []
});
