<!DOCTYPE html>
<html lang="en" id="firstApp" ng-app="firstApp">
    <head>
        <meta charset="UTF-8">
        <title>A Simple First App with the ERMrest JavaScript Client API</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src='../js/ermrest.js'></script>
        <script src='../js/ngermrest.js'></script>
        <script src='firstapp.js'></script>
    </head>
    <body>
        <h2>Search context</h2>
        <div ng-controller="contextController">
            <p><b>Service URL:</b> {{context.serviceURL}}</p>
            <p><b>Catalog ID:</b> {{context.catalogID}}</p>
            <p><b>Schema name:</b> {{context.schemaName}}</p>
            <p><b>Table name:</b> {{context.tableName}}</p>
        </div>
        <h2>Selected entity</h2>
        <div ng-controller="entityController">
            <table border="1" ng-click="doSomething()">
                <tr ng-repeat="(key, value) in selected[0].data">
                    <td><b>{{key}}</b></td>
                    <td>{{value}}</td>
                </tr>
            </table>
        </div>
        <h2>Listing of all entities</h2>
        <div ng-controller="entitiesController">
            <table border="1">
                <tr ng-repeat="entity in entities" ng-click="selectEntity(entity)">
                    <td ng-repeat="value in entity.data">{{value}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
