<!DOCTYPE html>
<html lang="en" ng-app="sample">

<head>
  <meta charset="UTF-8">
  <title>A Simple First App with the ERMrest JavaScript Client API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.min.js"></script>

  <!-- TODO change this accordingly  -->
  <script src='/ermrestjs/ermrest.js'></script>

  <script src='sample.app.js'></script>
</head>

<body>
  <div ng-if="hasError">
    There was some errors, take a look at the console.
  </div>
  <div ng-if="!hasLoaded">
    Retrieving data...
  </div>
  <div ng-if="hasLoaded && !hasError">
    <h2>Parser Output</h2>
    <div>
      <p><b>Service URL:</b> {{reference.location.service}}</p>
      <p><b>Catalog ID:</b> {{reference.location.catalog}}</p>
      <p><b>Schema name:</b> {{reference.location.schemaName}}</p>
      <p><b>Table name:</b> {{reference.location.tableName}}</p>
    </div>
    <h2>values</h2>
    <div>
      <table ng-if="hasData" border="1" style="text-align:center;">
        <thead>
          <tr>
            <th>#</th>
            <th ng-repeat="col in columns">
              <span ng-if="col.displayname.isHTML" ng-bind-html="col.displayname.value"></span>
              <span ng-if="!col.displayname.isHTML" ng-bind="col.displayname.value"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tuple in page.tuples">
            <td ng-bind="$index + 1"></td>
            <td ng-repeat="value in tuple.values track by $index">
              <div ng-switch="tuple.isHTML[$index]">
                <span ng-switch-when="true" ng-bind-html="value"></span>
                <span ng-switch-default ng-bind="value"></span>
              </div>
            </td>
            <td ng-if="tuples.length === 0">
              No Result Found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>